* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    width: 100%;
    height: 100vh;  
    background-image: url('../images/adminpanelbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 80px;
    background: linear-gradient(180deg, #4b4b4b 10%, #000000 90%);
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    transition: width 0.5s;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebar:hover {
    width: 200px;
}

.sidebar-icon {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
    color: #FFFFFF;
    transition: width 0.5s, padding-left 0.5s;
    opacity: 1;
}

.sidebar-icon.logo {
    justify-content: center;
}

.sidebar-icon.logo img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.sidebar:hover .sidebar-icon.logo {
    justify-content: flex-start;
    padding-left: 20px;
}

.sidebar:hover .sidebar-icon {
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 15px;
    transition: width 0.5s, padding-left 0.5s;
    opacity: 1;
}

.sidebar-icon.active {
    background-color: #44318D;
    color: #FFFFFF;
}

.sidebar-icon.active .sidebar-text {
    color: #FFFFFF;
}

.sidebar-icon:active,
.sidebar-icon.active:active {
    background-color: #2A1B3D;
    color: #FFFFFF;
}

.sidebar-icon:active .sidebar-text,
.sidebar-icon.active:active .sidebar-text {
    color: #FFFFFF;
}

.sidebar-icon:hover:not(.active) {
    background-color: #44318D;
}

.sidebar-icon:active {
    background-color: #2A1B3D;
}

.sidebar-text {
    display: none;
    margin-left: 10px;
    font-size: 14px;
    color: #FFFFFF;
    transition: margin-left 0.5s;
}

.sidebar:hover .sidebar-text {
    display: inline;
    transition: margin-left 0.5s;
}

.main-content {
    flex: 1;
    color: #2A1B3D;
    padding: 20px;
    padding-left: 100px;
    transition: margin-left 0.5s;
}   

.sidebar:hover ~ .main-content {
    margin-left: 130px; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-titles {
    display: flex;
    flex-direction: column;
}

.header-titles .items-label {
    color: #2fe0ff;
    text-shadow: #ff0000 4px 3px 2px;
    font-size: 27px;
    margin-bottom: 5px;
    font-weight: 500;
}

.header-titles h1 {
    font-size: 53px;
    color: #2fe0ff;
    text-shadow: #ff0000 4px 3px 2px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    position: relative;
    z-index: 2;
    margin-right: 420px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #00395a;
    color: #000000;
    border-radius: 25px;
    padding: 0 15px;
    height: 50px;
    width: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: width 0.3s;
    border: none;
}

.search-bar input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    background-color: transparent;
    color: #ffffff;
}

.barcode-scanner {
    display: flex;
    align-items: center;
    background-color: #00395a;
    border-radius: 25px;
    padding: 0 15px;
    height: 50px;
    width: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    transition: width 0.3s ease-in-out;
    border: none;
    overflow: hidden;
}

.barcode-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 50px;
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.barcode-icon-wrapper svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.2); /* Added scale to make icon 20% larger */
}

.search-bar svg {
    transform: scale(1.2); /* Added scale to make search icon 20% larger too */
}

.barcode-scanner input {
    color: #FFFFFF;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    opacity: 0;
    width: 1px;
    margin-left: 10px;
    transition: opacity 0.2s ease-in-out 0.1s, width 0.3s ease-in-out;
}

.barcode-scanner.expanded {
    width: 300px;
}

.barcode-scanner.expanded input {
    opacity: 1;
    width: 100%;
}

.barcode-scanner.expanded .barcode-icon-wrapper {
    margin-left: 0;
}

.filter-btn {
    background-color: #44318D;
    border: none;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.categories {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    scrollbar-width: none;
}

.category {
    background: linear-gradient(190deg, #0a3144 10%, #0d64b6 90%);
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 20px;
    white-space: nowrap;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

.category.active {
    color: #FFFFFF;
    transition: background-color 0.3s, color 0.3s;
}

.items-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding-right: 420px;
}

.item-card {
    background: linear-gradient(180deg, #525252 10%, #161616 90%);
    color: #FFFFFF;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, opacity 0.3s;
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 220px;
    margin: 10px;
    opacity: 1;
}

.item-card.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

.item-card:hover {
    transform: translateY(-5px);
}

.item-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    padding: 5px;
    border-radius: 15px;

}

.item-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    gap: 10px;
}

.item-name {
    font-size: 18px;
    line-height: 1.3;
    max-height: 2.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    margin-bottom: 5px;
}

.item-price {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: 12px;
    margin: 0;
}

.cart-container {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 400px;
    background: linear-gradient(180deg, #525252 10%, #161616 90%);
    color: #FFFFFF;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cart-header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 24px;
}

.cart-user {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.cart-user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #44318D;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 10px;
}

.cart-user-name {
    flex: 1;
}

.cart-items {
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.cart-item-info {
    display: flex;
    align-items: center;
    width: 75%;
}

.cart-item-details {
    display: flex;
    flex-direction: column;
    width: calc(100% - 60px);
}

.cart-item-name {
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-price {
    color: #FFFFFF;
}

.cart-item-quantity {
    display: flex;
    align-items: center;
    width: 25%;
    justify-content: flex-end;
}

.cart-item-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

.qty-btn {
    width: 50px;
    height: 25px;
    border-radius: 50%;
    background-color: #44318D;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.cart-item-qty {
    margin: 0 15px;
}

.cart-summary {
    border-top: 1px solid #44318D;
    padding-top: 20px;
    font-size: 18px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.cart-total {
    font-weight: bold;
    font-size: 24px;
}

.checkout-btn {
    width: 100%;
    background: linear-gradient(180deg, #0a3144 10%, #0d64b6 90%);
    color: #FFFFFF;
    border: none;
    border-radius: 25px;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    overflow: hidden;   
}

.checkout-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: left 0.3s;
}


.checkout-btn:hover::after {
    left: 100%;
    transition: left 0.5s ease-out;
}

.add-btn {
    width: 100%;
    height: 45px;
    border-radius: 8px;
    background: linear-gradient(180deg, #0a3144 10%, #0d64b6 90%);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;   
}

.add-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: left 0.3s;
}

.add-btn:hover::after {
    left: 100%;
    transition: left 0.5s ease-out;
}

.cart-details {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.cart-details.expanded {
    max-height: 500px;
    opacity: 1;
}

.dropdown-btn {
    margin-left: 10px;
    background-color: #44318D;
    border: none;
    border-radius: 75%;
    width: 39px;
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.dropdown-btn:hover {
    background-color: #0056b3;
}

.dropdown-btn svg {
    width: 16px;
    height: 16px;
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #ff4d4d; 
    margin-left: 5px;
}

.remove-btn svg {
    vertical-align: middle;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: linear-gradient(180deg, #0a3144 10%, #0d64b6 90%);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.payment-btn {
    margin: 10px;
    padding: 10px 20px;
    background: linear-gradient(0deg, #0a3144 10%, #0d64b6 90%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
    position: relative;
    overflow: hidden;  
}

.payment-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: left 0.3s;
}

.payment-btn:hover::after {
    left: 100%;
    transition: left 0.5s ease-out;
}

.close-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.close-btn:hover {
    background-color: #a71d2a;
}

